@import './vars.scss';

.country-container {
    position: absolute;
    left: 230px;
    top: 8px;

    @media only screen and (min-width: 769px) {
        position: fixed;
    } 
}

.country-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    opacity: .7;
    transition: opacity .5s ease-in-out;

    &:hover {
        opacity: .9;
        transition: opacity .5s ease-in-out;
    }

    h3 {
        color: rgba(255,255,255,.9);
        opacity: .6;
        transition: opacity .5s ease-in-out;
        font-size: 12px;
        font-weight: 300;
        padding: 0;
        margin: 0;

        &:hover {
            opacity: .9;
            transition: opacity .5s ease-in-out;
        }
    } 
}

.country-list {
    margin: 7px 0 0 0;
}

.country-city {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: rgba(0,0,0,.5);
    margin: 0;
    padding: 5px 10px 5px 10px;
    cursor: pointer;

    img {
        max-width: 25px;
        margin: 0 10px 0 0;
    }

    p {
        color: rgba(255,255,255,.6);
        padding: 0;
        margin: 0;
        font-size: 13px;
        font-weight: 600;
    }
}