@import './vars.scss';

.logo {
    z-index: -1;
    top: 0;
    left: 0;
    position: relative;

    @media screen and (min-width: 769px) {
      position: fixed;
    }
  
    h1 {
      position: relative;
      z-index: -1;
      top: -5px;
      left: 5px;
      font-size: 30px;
      margin: 0;
      padding: 0;
      font-weight: 900;
      color: $light;
      opacity: 0.75;
      letter-spacing: 0.05em;

      @media screen and (min-width: 769px) {
        position: fixed;
      }
    }
  
    h2 {
      display: block;
      position: relative;
      z-index: -1;
      top: -15px;
      left: 7px;
      font-size: 10px;
      letter-spacing: 0.1em;
      margin: 0;
      padding: 0;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: $light;
      opacity: 0.4;

      @media screen and (min-width: 769px) {
        position: fixed;
        top: 30px;
      }
    }
  }

  .cities {
      display: inline-block;
  }