// colors
$photobox: #242526;
$photoboxRGBA: rgba(36, 37, 38, 0.7);
$light: #ededed;
$lightHex: rgba(237, 237, 237, 0.5);

// spacing
$gutter: 7px;

//breakpoints
$medium: 650px;
$large: 1000px;

//transitions

$fast: all 0.5s ease;
$regular: all 0.75s ease;
$slow: all 1s ease;
